.Navbar-Home{
    display: flex;
    width: 100%;
    position: absolute;
}

.Navbar-Home .N1{
    width: 100%;
}
.Main {
    display: flex;
    width: 100%;
}

.Article{
    width: 100%;
}

.Navbar-Home .N2{
    display: flex;
    width: 40%;
}

@media screen and (min-width: 1900px) {
    .Navbar-Home .N2{
        display: flex;
        width: 30%;
    }
}
