.Menu1{
  text-align: center;  
}
.M1{
    padding:20px;
    margin-top: 20px;
    cursor: pointer;
}
.M2{
    padding:20px;
    margin-top: 20px;
    cursor: pointer;
}
.M3{
    padding:20px;
    margin-top: 20px;
    cursor: pointer;
}