@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');


.product{
    overflow: scroll;
    height: 56.7em;
}
.Product-card{
    background-color: #eaeef5bb;
    width: 100%;
    justify-content: space-around; 
 }
.product-list{
    width: 100%;
    padding: 30px;   
}
.picture{
    width: 95%;
    justify-content: space-around
}
.name{
    font-family: 'Rubik';
    font-size: 25px;
}
.price{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 1366px) {
    .picture{
        width: 100%;
    }
    .product-list{
        padding: 20px;   
    }
    .name{
        font-family: 'Rubik';
        font-size: 20px;
    }
    .price{
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        color: black;
        font-weight: bold;
    }
    .product{
        overflow: scroll;
        height: 38.5em;
    }
}
